.sort {
  margin-bottom: 40px;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    .selected {
      color: #005bcc;
    }
    li {
      margin-right: 40px;
      :last-child {
        margin-right: 0;
      }
    }
  }
}
