$grey: #63686d;
$container: 1260px;
$blue: #005bcc;
$black: #1a1a1a;
$white: #ffffff;
$red: #f12b2b;
$gren: #219653;
$lightgrey: #c5c5c5;
$lightgrey2: #eeeeee;
$lightblue: #e0eeff;
$white: #ffffff;
$lightgrey3: #d1d1d1;
